html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#uiCanvas canvas {
  z-index: 888;
  position: absolute;
  top: 0;
  left: 180px;
}

#drawingCanvas canvas {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 4rem;
}



/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 4rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(146, 146, 146); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav > img, .sidenav > button > img {
  width: 100%;
}

/* The navigation menu links */
.sidenav button {
  background-color: rgba(84, 104, 134, 0);
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1em 2px;
  cursor: pointer;
}

/* The button for sending and fetching data from the backend */
#to3DModel{
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 2%;
  left: 10%;
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1em 2px;
  cursor: pointer;
  width: 80%;
}

.sidenav > #spacer {
  display: inline-block;
  flex-grow: 1;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 4rem; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#SendButton {
  transform: rotate(90deg);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    max-width: 200px;
  }
  .sidenav a {font-size: 18px;}
}
